pandas
numpy
pyarrow
scikit-learn
torch
torchvision
torchaudio
faiss-cpu
sentence-transformers
transformers
open-clip-torch
fastapi
uvicorn
streamlit
python-multipart
geopandas
shapely
matplotlib
tqdm
